.main__title {
    color: var(--black-color);
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
    width: 884px;
    margin: 0 auto;
    margin-bottom: 26px;
}

#main__section {
    padding-top: 70px;
}
.main__container {
    max-width: 1200px;
    margin: 0 auto;
    
}


.main__about {
    color: var(--black-color);
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    margin-bottom: 36px;
}

.main__about::before  {
    background-image: url(../img/line.svg);
    content: "";
    display: inline-block;
    background-size: contain;
    width: 43px;
    height: 3px;
    margin-right: 18px;
    vertical-align: middle;
    
}

.main__about::after  {
    background-image: url(../img/line.svg);
    content: "";
    display: inline-block;
    background-size: contain;
    width: 43px;
    height: 3px;
    vertical-align: middle;
    margin-left: 24px
}

.main__text {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    width: 724px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 69px;
}

.main__numbers {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: end;
}

.numbers__text{
    text-align: center;
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    text-indent: -5px;
    
}

.numbers__item{
    width: 196px;
    height: 185px;
}

.numbers__digit {
    background-color: rgb(35, 199, 236);
    border-radius: 50%;
    width: 122px;
    height: 122px;
    color: var(--main-color);
    font-size: 57px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    padding-top: 30px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.main__container {
    padding-bottom: 80px;
}



@media (max-width:1024px)  {
    .main__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        width: 812px;
        text-align: center;
        margin-bottom: 22px;
    }
    .main__about {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        margin-bottom: 34px;
    }
    .main__numbers{
        gap: 50px;
    }
    .main__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        width: 666px;
        }
    .numbers__digit {
        width: 104px;
        height: 104px;
        font-size: 52px;
        font-weight: 500;
        line-height: 61px;
        padding-top: 21px;
        margin-bottom: 26px;
    }
    .numbers__item{
        width: 180px;
        height: 182px;
    }
    .numbers__text{
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        text-indent: -5px;
        word-spacing: 5px;
    }
    .main__container{
        max-width: 1022px;
        margin: 0 auto;
        padding-bottom: 70px;
    }
}

@media (max-width:820px) {
    .main__title  {
        width: 90%;
    }
    .main__text {
        width: 90%;
    }
    
}
@media (max-width:640px) {
    .main__numbers {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:320px) {
    .mySwiper {
        display: none !important;
        
    }
    }

@media (max-width:320px)  {
    
    .main__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        width: 290px;
        margin-bottom: 18px;
        text-indent: -4px;
    }
    .main__about {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 30px;
    }
    .main__about::before  {
        width: 19.71px;
    }
    .main__about::after  {
        width: 19.71px;
    }
    .main__text {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        width: 290px;
        height: 85px;
        
        margin-bottom: 40px;
        word-spacing: -1px;
    }
    .numbers__digit {
        font-size: 52px;
        font-weight: 500;
        line-height: 61px;
    }
    .numbers__text {
        text-indent: -4px;
        word-spacing: 0px;
    }
    .main__numbers {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    #main__section {
        padding-top: 30px;
    }
    .numbers__text {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        text-indent: -5px;
    }
    .main__container {
        padding-bottom: 60px;
    }
        
}

@media (max-width:319px) {
    .main__numbers {
        display: none;
    }
    
.mySwiper [class^="swiper-button-"]{
    width: 55px;
    height: 55px;
}

.mySwiper [class^="swiper-button-"]::after{
    content: "";
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .numbers__digit {
        background-color: rgb(35, 199, 236);
        border-radius: 50%;
        width: 114px;
        height: 90px;
        color: var(--main-color);
        text-align: center;
        padding-top: 30px;
        margin: 0 auto;
        margin-bottom: 16px;
        font-size: 52px;
        font-weight: 500;
        line-height: 61px;
    }
    .numbers__item{
        width: 196px;
        height: 185px;
        margin: 0 auto;
    }
    .numbers__text {
        
    text-align: center;
    color: var(--black-color);
    margin: 0 auto;
    width: 166px;
}
    
    .main__title  {
        text-align: center;
    }
}